@charset "utf-8";
.mo_blind {display: none;}
.swiper {
    width: 100%;
    height: 100%;
    padding: 80px 0 20px;
    /* position: sticky;
    top: 0; */
    background-color: #fff;
    border-bottom: 2px solid #000;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide h3{
    position: absolute; color: #fff;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100px;
    filter: grayscale(1);
  }

  .swiper-slide.swiper-slide-active img {filter: grayscale(0); position: relative;}

  /***** lookbook *****/
.lookbook {
  width: 97vw;
  margin: 0 auto;
}
.lookbook h1 {
  font-size: 4rem;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.lookbook h1 strong {
  font-weight: 400;
  background: url(./images/silver-tape2.png) no-repeat 50% / cover;
}
.lookbook .lookbook-img {
  width: 100vw;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
.lookbook .lookbook-img .lookbook-left {
  padding-right: 50px;
  border-right: 1px solid #000;
  width: 30%;
}

.lookbook .lookbook-img .lookbook-left img {
  width: 25vw;
}
.lookbook .lookbook-img .lookbook-rt {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lookbook .lookbook-img .lookbook-rt::-webkit-scrollbar {
  display: none;
}

.lookbook .lookbook-img .lookbook-rt .lookbook-right {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.lookbook .lookbook-img .lookbook-rt .lookbook-right li {
  padding-bottom: 50px;
  position: relative;
}

.lookbook .lookbook-img .lookbook-rt .lookbook-right img {width: 100%;}
.headerP {background-color: #ddd;}

.header-icon, .lookbook_notice ,.lookbook .lookbook-img .lookbook-left {display: none;}

.header-icon {display: none!important;}

.menu {
    width: 45vw;
    right: -45vw;
  }
  
  .menu menu {
    width: 40vw;
    margin: 100px auto;
    margin-top: 150px;
  }
  
  .menu menu li {
    text-indent: 20px;
    font-size: 2rem;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }

  /* 추가 css */
  .menu .header-icon {display: flex!important; position: absolute; bottom: 50px; right: 50px; gap: 20px;}

  header {height: 80px; line-height: 80px;}