@charset "utf-8";
.mo_blind {display: flex;}
.pc_blind {display: none;}
.lookbook_notice {display: flex;}
.header-icon {display: flex!important;}
.swiper {
    width: 100%;
    height: 100%;
    padding: 80px 0 20px;
    /* position: sticky;
    top: 0; */
    background-color: #fff;
    border-bottom: 2px solid #000;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide h3{
    position: absolute; color: #fff;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
    width: 80px;
    filter: grayscale(1);
  }

  .swiper-slide.swiper-slide-active img {filter: grayscale(0); position: relative;}

  /***** lookbook *****/
.lookbook {
  width: 97vw;
  margin: 0 auto;
}
.lookbook h1 {
  font-size: 4rem;
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.lookbook h1 strong {
  font-weight: 400;
  background: url(./images/silver-tape2.png) no-repeat 50% / cover;
}
.lookbook .lookbook-img {
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}
.lookbook .lookbook-img .lookbook-left {
  padding-right: 50px;
  border-right: 1px solid #000;
  width: 30%;
  display: block;
}

.lookbook .lookbook-img .lookbook-left img {
  width: 25vw;
}
.lookbook .lookbook-img .lookbook-rt {
  height: 95vh;
  width: 70%;
  margin-left: 10%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.lookbook .lookbook-img .lookbook-rt::-webkit-scrollbar {
  display: none;
}

.lookbook .lookbook-img .lookbook-rt .lookbook-right {
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.lookbook .lookbook-img .lookbook-rt .lookbook-right li {
  padding-bottom: 50px;
  position: relative;
  /* border-bottom: 1px solid #000; */
}

.headerP {background-color: #ddd;}


.menu {
  width: 20vw;
  right: -20vw;
}
.menu menu {
  width: 15vw;
  margin: 100px auto;
  margin-top: 150px;
}

.menu menu li {
  text-indent: 20px;
  font-size: 1.25rem;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}


.menu .pc_blind {display: none!important;}

.pc_btn {justify-content: center; gap: 30px; background-color: #fff; border-bottom: 1px solid #000; padding-bottom: 20px; margin-top: 80px;}
.pc_btn li{position: relative; filter: grayscale(1); position: relative; cursor: pointer;}
.pc_btn li.active_btn {filter: grayscale(0);}

.pc_btn li img{ width: 80px;}
.pc_btn li h3 {color: #fff; text-align: center; position: absolute; top: 35%; left: 50%; transform: translateX(-50%); width: 80px;} 