@charset "utf-8";
/* 변수 설정 */
:root {
    --kr-font: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    --en-font: "Anton", Arial, Helvetica, sans-serif;
    --white : rgba(255, 255, 255, 0.2);
    --white_bg : rgba(255, 255, 255, 0.07);
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }

/* 모바일 css */
body::-webkit-scrollbar {display: none;}
body {font-family: var(--en-font); background-color: #08090B; color: #fff; --framer-will-change-override: none}
img {width: auto;}

header {position: fixed; top: 0; left: 50%; transform: translate(-50%); width: 100%; margin: 0 auto; z-index: 5; transition: 0.3s; background: linear-gradient(#000000b6, #00000000);}
header .header_flex {display: flex; justify-content: space-between; align-items: center; height: 60px; line-height: 60px; width: 95%; margin: 0 auto;}
header .logo{}
header .logo img{height: 30px; display: block; object-fit: contain; cursor: pointer;}
.menu_btn{display: flex; background-color: #323234; border-radius: 10px; width: 100px; justify-content: center; text-align: center; align-items: center; height: 30px; line-height: 30px; cursor: pointer;}
.menu_btn svg{}
.menu_btn h2{font-family: var(--kr-font); margin-left: 10px;}

/****** menu ******/
.menu { width: 100vw; height: 100vh;position: fixed; right: -100vw; z-index: 5; border-left: 1px solid var(--white); transition: 0.4s; background-color: #08090B;}
.menu.change-menu { right: 0; }
.menu .menu_btn {position: absolute; right: 5%; top: 20px;} 
.menu .menu_list {width: 90%; border: 1px solid var(--white); margin: 80px auto 0; padding: 2% 0; border-radius: 20px; background-color: var(--white_bg);}
.menu .menu_list li {width: 80%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; font-size: 1.2rem; border-bottom: 1px solid var(--white); height: 60px; line-height: 60px; cursor: pointer;}
.menu .menu_list li:last-child {border-bottom: none;}

.contents {transition: 0.3s; width: 100%; overflow: hidden;}
.contents.dark {filter: brightness(0.7);}

.mo_blind {display: none!important;}

.section {width: 90vw; margin: 0 auto;}
.line {border-top: 1px solid var(--white_bg); width: 90%; margin: 0 auto;}

/* 스크롤 이벤트 */
.wait_scroll.scroll_ey .fade_up{ opacity: 0; transform: translateY(100px);}
.scroll_ey .fade_up{opacity: 1; transform: translateX(0); transition: all 0.6s ease-in-out;}

.view_more { display: flex; justify-content: center; gap: 10px; font-size: 0.7rem; border: 1px solid var(--white); width: 110px; height: 33px; line-height: 30px; border-radius: 50px;  background-color: var(--white_bg); transition: 0.3s; position: relative; z-index: 5; font-family: var(--kr-font); align-items: center;}
.view_more img { width: 18px; object-fit: contain; border: none!important;}

.arrow_circle {width: 30px; height: 30px; border: 1px solid var(--white); background-color: var(--white_bg); border-radius: 50%; display: flex; justify-content: center; align-items: center; transition: 0.3s;}
.arrow_circle img {width: 12px!important; border: none!important;}

.section {font-size: 2rem;}

footer {font-family: var(--kr-font); padding: 5% 0 2%;}
footer .flex_box { width: 90%; margin: 0 auto; display: flex; justify-content: center; align-items: start;}
footer .flex_box img {width: 80px; object-fit: contain; }
footer .flex_box h2 strong {margin-bottom: 20px; font-size: 0.9rem; color: #c7c7c7;}
footer .flex_box h2 {font-size: 0.8rem; color: #616161;}
.footer_box {display: flex; flex-direction: column; gap: 5px;}
footer h3 {text-align: center; font-size: 0.6rem; margin: 20px 0 10px; color: #3b3b3b;}
footer .logo_img {display: flex; gap: 20px; margin-top: 10px;}
footer .logo_img img {height: 30px; width: 30px; object-fit: contain;}
footer li {cursor: pointer;}

/* pc css */
@media (width >=1200px){
  .mo_blind {display: block!important;}
  .pc_blind {display: none;}

  header .logo img {height: 40px;}
  header .header_flex {height: 100px; line-height: 100px;}
  .menu_btn {height: 40px; line-height: 40px;}

  .menu { width: 25vw; right: -25vw; } 

  .menu .menu_btn {right: 10%; top: 30px;} 
  .menu .menu_list {width: 80%; margin: 110px auto 0; padding: 5% 0; border-radius: 20px;}
  .menu .menu_list li {width: 80%; font-size: 1.6rem;  height: 80px; line-height: 80px; cursor: pointer;}
  .menu .menu_list li:hover h2, .menu .menu_list li:hover svg {transition: 0.3s;}
  .menu .menu_list li:hover h2, .menu .menu_list li:hover svg {transform: translateY(-10px);}

  .view_more {font-size: 0.9rem; width: 140px; height: 35px; line-height: 35px;}
  .view_more img { width: 24px;}

  .view_more:hover , .arrow_circle:hover {border-color: #fff; background-color: #ffffff28;}

  .arrow_circle {width: 40px; height: 40px;}
  .arrow_circle img {width: 14px!important;}

  footer .flex_box {justify-content: space-between;}
  footer .flex_box .footer_logo {width: 150px;}

  footer h3 {font-size: 0.8rem; margin-top: 80px;}
}