@charset "utf-8";
/* 변수 설정 */
:root {
    --kr-font: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    --en-font: 'Russo One', Arial, Helvetica, sans-serif;
    --white : rgba(255, 255, 255, 0.2);
    --white_bg : rgba(255, 255, 255, 0.1);
  }

/* 모바일 css */
body::-webkit-scrollbar {display: none;}
body {font-family: var(--en-font); background-color: #08090B; color: #fff; --framer-will-change-override: none}
img {width: auto;}

.mo_blind {display: none;}

.section {width: 90vw; margin: 0 auto;}

.view_more { display: flex; justify-content: center; gap: 10px; font-size: 0.7rem; border: 1px solid var(--white); width: 110px; height: 30px; line-height: 30px; border-radius: 50px;  background-color: var(--white_bg); transition: 0.3s;}
.view_more img { width: 18px; object-fit: contain; border: none!important;}

.arrow_circle {width: 40px; height: 40px; border: 1px solid var(--white); background-color: var(--white_bg); border-radius: 50%; display: flex; justify-content: center; align-items: center; transition: 0.3s;}
.arrow_circle img {width: 14px!important; border: none!important;}

.section {font-size: 2rem;}

/* pc css */
@media (width >=1200px){
  .mo_blind {display: block;}
  .pc_blind {display: none;}

  .view_more {font-size: 0.9rem; width: 140px; height: 40px; line-height: 40px;}
  .view_more img { width: 24px;}

  .view_more:hover , .arrow_circle:hover {border-color: #fff;}

}