@charset "utf-8";
/* main_top */
.main_top {width: 100%; overflow: hidden;}
.main_top img {width: 100%;}

img {width: 100%;}

.top_slide {background: url(../images/top_slide_background03.jpg) no-repeat 50% 50%;}
.top_slide .best_pd {margin-top: 20px;}
.top_slide .best_pd .best_txt { margin-top: 20px; padding: 0 5vw; padding-bottom: 100px;}
.top_slide .best_pd .best_txt .lt_txt{ }
.top_slide .best_pd .best_txt .lt_txt h3{font-size: 1rem; }
.top_slide .best_pd .best_txt .lt_txt h4{ font-size: 0.9rem; color: #919191; margin-top: 10px; line-height: 1.4; font-family: var(--kr-font);}
.top_slide .view_more {margin-top: 20px; float: right;}


/* 상품 슬라이드 */
.best_pd .marquee { display: flex; overflow: hidden; user-select: none; gap: var(--gap);}
.best_pd .marquee__group { flex-shrink: 0; display: flex; align-items: center; justify-content: space-around; gap: var(--gap); min-width: 100%; animation: scroll-x var(--duration) linear infinite; }
.best_pd .marquee__group .marqueee_txt {display: flex; justify-content: space-between; margin-top: 15px; padding: 0 10px; font-family: var(--kr-font);}
.best_pd .marquee__group .marqueee_txt h2{font-size: 0.8rem; color: #919191; width: 170px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.best_pd .marquee__group .marqueee_txt h3{font-size: 0.8rem; color: #ddd;}

.best_pd .marquee__group .marqueee_box {background-color: rgba(255, 255, 255, 0.05); border: 1px solid var(--white); border-radius: 5%; width: 200px; padding: 30px 30px 20px;}

.best_pd .marquee__group img {width: 100%; margin: 0 auto; display: block;}
.best_pd .wrapper { display: flex; flex-direction: column; gap: var(--gap); margin: auto; max-width: 100vw;}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }
    to {
        transform: translateX(var(--scroll-end));
    }
}

/* lookbook card */
.lookbook {padding: 30px 0;}
.lookbook_txt  {margin-bottom: 20px; padding-left: 5%; display: flex; align-items: end; justify-content: space-between; padding-right: 5%;} 
.lookbook_txt h2 {font-size: 1.3rem;}
.lookbook_txt h4 {font-size: 0.9rem; color: #919191;}

#cards:hover > .card::after { opacity: 1; } 
#cards {display: grid; grid-template: repeat(2,1fr) / repeat(2,1fr); 
grid-template-areas: 
    "box1 box1 box2 box2"
    "box1 box1 bod3 box3"
    "box1 box1 bod4 box4";

     width: 90%; margin: 0 auto; color: #fff;}

.box1 {grid-area: box1;}
.box2 {grid-area: box2;}
.box3 {grid-area: box3;}
.box4 {grid-area: box4;}

.card { background-color: rgba(255, 255, 255, 0.1); border-radius: 10px; cursor: pointer; height: 500px;
 position: relative; width: 100%;}
.rt_card {height: 27vh;}
.card:hover::before { opacity: 1 }
.card::before, .card::after { border-radius: inherit; content: ""; height: 100%; left: 0px; opacity: 0; position: absolute; top: 0px; transition: opacity 500ms; width: 100%;}

.card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
.card::after {  
 background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    ); z-index: 1;
}
  
.card > .card-content { background-color: var(--card-color); border-radius: inherit; display: flex; flex-direction: column; flex-grow: 1; inset: 1px; position: absolute; z-index: 5; padding: 20px;}
.card > .card-content img {border: 1px solid #ffffff0e;}
.card-image { align-items: center; display: flex; height: 140px; justify-content: center; overflow: hidden;}
.card-info-wrapper { align-items: center; display: flex; flex-grow: 1; justify-content: flex-start; padding: 0px 20px;}
.card-info { align-items: flex-start; display: flex; gap: 10px;}
  
.rt_box li:nth-child(2){margin: 20px 0;}
.lookbook_box .more_btn {display: flex; gap: 10px; justify-content: end; margin: 20px 0 0;}
.lt_lookbook h3 { font-size: 1rem; margin: 10px 0;}
.lt_lookbook h4 { font-size: 0.9rem; color: #919191; line-height: 1.5; font-family: var(--kr-font);}
.lt_lookbook .main_lookbook img {width: 100%; border-radius: 10px;}
.rt_card .card-content {display: flex; flex-direction: row!important; align-items: center;}
.rt_card img {width: 200px; border-radius: 10px;}
  

/* pd_section */
/* .pd_section { background: url(../images/pd_section_bg.jpg) no-repeat 50% 50% / cover; position: relative; border-top-left-radius: 20px; border-top-right-radius: 20px;} */
.pd_section {position: relative; border-top-left-radius: 20px; border-top-right-radius: 20px;}
.pd_swiper {width: 100%; margin: 0 auto; padding-top: 4%; cursor: pointer;}

.pd_like {margin-top: 50px; padding-left: 5vw; padding-bottom: 3%;}
.pd_like h2 {font-size: 1.2rem; }

.pd_like .pd_like_swiper {margin: 20px 0 50px;}

.pd_like .siwper-slide img{}
.pd_like .pd_txt { display: flex; justify-content: space-between; margin-top: 10px; font-family: var(--kr-font);}

.pd_like .pd_txt h3 {font-size: 0.7rem; width: 160px; color: #ddd; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pd_like .pd_txt h4 {font-size: 0.7rem; color: #919191;}

.pd_like .swiper-button-next, .swiper-button-prev {display: none;}


/* img_section */
.img_section {}
.img_section .full_text{height: 20px; margin-bottom: 20px;}
.img_section .line {margin-bottom: 50px; width: 100%;}

.img_section .box {overflow: hidden; border-radius: 10px; border: 1px solid var(--white); position: relative;}

.img_section .img_box {display: flex; flex-direction: column; margin-bottom: 200px; gap: 10px;}
.img_section .img_box .lt_box {width: 100%; display: grid;
  grid-template-rows: repeat(2/50%); grid-template-columns: repeat(3/33.3333%); gap: 10px;

  grid-template-areas: 
  "lt_box01 lt_box01 lt_box01"
  "lt_box02 lt_box03 lt_box03"
  ;
}

.lt_box01 {grid-area: lt_box01;}
.lt_box01 .lt_box01_txt {position: absolute; top: 50%; transform: translateY(-50%); left: 3%; z-index: 2; font-size: 2rem; line-height: 1.2;}
.lt_box02 {grid-area: lt_box02;}
.lt_box03 {grid-area: lt_box03;}

.img_section .arrow_circle {position: absolute;  right: 20px; bottom: 20px; z-index: 2;}

.img_section .img_box .rt_box {width: 100%;}
.img_section .img_box .hover_img {object-fit: cover;}

.img_section .img_box .rt_box { display: flex; flex-direction: column; gap: 10px;}
.rt_box01 {height: 70%;}
.rt_box02 {height: 30%; background-color: #ffffff17;}
.rt_box02 #opacity{opacity: 0;}

.rt_box02 .rt_box02_txt {position: absolute; top: 50%; transform: translateY(-50%); z-index: 3; display: flex; width: 100%; margin: 0 auto; justify-content: space-between; align-items: center;}

.rt_box02 .rt_box02_txt .lt_text {margin-left: 3%;}
.rt_box02 .rt_box02_txt .lt_text h1{font-size: 2rem; line-height: 1;}
.rt_box02 .rt_box02_txt .lt_text h2{font-family: var(--kr-font); font-size: 0.9rem; color: #919191; margin-top: 10px;} 

.rt_box02 .rt_box02_txt .rt_text {margin-right: 3%;}

footer {font-family: var(--kr-font); padding: 5% 0 2%;}
footer .flex_box { width: 90%; margin: 0 auto; display: flex; justify-content: space-between; align-items: start;}
footer .flex_box img {width: 150px; object-fit: contain; }
footer .flex_box h2 strong {margin-bottom: 20px; font-size: 0.9rem; color: #fff;}
footer .flex_box h2 {font-size: 0.8rem; color: #919191;}
.footer_box {display: flex; flex-direction: column; gap: 5px;}
footer h3 {text-align: center; font-size: 0.8rem; margin-top: 80px; color: #ddd;}
footer .logo_img {display: flex; gap: 15px; margin-top: 10px;}
footer .logo_img img {height: 30px; width: 30px; object-fit: contain;}