@charset "utf-8";

.top_slide { display: flex; height: 100vh; padding: 2vw 0;}
.top_slide .txt_section {padding:5vw; border-right: 1px solid var(--white); width: 45%; height: 85vh;}
.top_slide .txt_section h1 {font-size: 5rem;}

.top_slide .best_pd {width: 55%; }
.top_slide .best_pd .best_txt { display: flex; justify-content: space-between; margin-top: 50px; padding: 0 5vw 0 1vw;}

.best_pd .marquee__group .marqueee_box {width: 350px;}
.best_pd .marquee__group img {transition: 0.3s;}
.best_pd .marquee__group img:hover {transform: scale(1.05);}
.top_slide .best_pd .best_txt .lt_txt h3 {font-size: 1.2rem;}

.card {width: 850px; height: 85vh;}
.rt_card {height: 240px;}
.rt_card .arrow_circle {position: absolute; right: 20px;}
.rt_txt {border-left: 1px solid var(--white); margin-left: 3%; height: 100%; padding-left: 3%; display: flex; flex-direction: column; justify-content: center;}
.rt_txt h4{font-size: 1rem; margin-bottom: 10px; color: #ddd; font-family: var(--kr-font); font-weight: 500;}
.rt_txt h5{font-size: 1.8rem; margin-bottom: 10px;}
.rt_txt h6{font-size: 0.9rem; color: #696969; font-family: var(--kr-font);}

.lookbook {padding-bottom: 60px;}
.lookbook_txt h2 {font-size: 2.5rem;}
.lt_lookbook h3 {font-size: 1.2rem;}

/* pd_section */
.pd_swiper {width: 40%; margin: 0 auto;}
.pd_like {padding-right: 5vw; margin-top: 100px;}
.pd_like .pd_like_swiper {margin: 0;}
.pd_like .swiper-wrapper {padding: 30px 0;}
.pd_like .swiper-slide {transition: 0.3s; cursor: pointer;}
.pd_like .swiper-slide:hover {transform: translateY(-10px);}
.pd_like .swiper-button-next, .swiper-button-prev {display: block; color: #fff; transform: scale(0.5);} 
.pd_like .swiper-button-prev {}
.pd_like h2 {font-size: 1.4rem; }

/* img_section */
.img_section .full_text{margin-bottom: 30px; height: auto;}
.img_section .line {margin-bottom: 50px; width: 100%;}

.img_section .img_box {flex-direction: row; height: 80vh; gap: 20px;}
.img_section .img_box .lt_box {width: 55%; gap: 20px;}
.img_section .img_box .rt_box {width: 45%; gap: 20px;}

.img_section .img_box .hover_img {filter: grayscale(1); transition: 0.3s;} 
.img_section .img_box .hover_img:hover {filter: grayscale(0); transform: scale(1.05);} 

.lt_box01 .lt_box01_txt {top: 5%; transform: translateY(0); font-size: 4rem;}
.rt_box02 .rt_box02_txt .lt_text h1 {font-size: 4rem;}