@charset "utf-8";

/* 변수 설정 */
:root {
    --kr-font: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    --en-font: 'Russo One', Arial, Helvetica, sans-serif;
  }

body::-webkit-scrollbar {
    display: none;
}
  
body {
    font-family: var(--en-font);
}
img {
    width: auto;
}

section {
    width: 95vw;
    margin: 0 auto;
}