@charset "utf-8";
/* 변수 설정 */
:root {
    --kr-font: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    --en-font: "Adamina", Arial, Helvetica, sans-serif;
  }

/* 모바일 css */
body::-webkit-scrollbar {display: none;}
img {width: auto;}
section {width: 95vw; margin: 0 auto;}

.mobile_blind {display: none!important;}
body {background-color: #0E0E0E;}

/****** header ******/
header { position: fixed; z-index: 9999; top: 0; display: flex; align-items: center; width: 100%; height: 60px; line-height: 60px; transition: 0.3s; justify-content: space-between; background: linear-gradient(#000000b6, #00000000); font-family: var(--en-font);}
header .logo {padding-left: 5%; height: 60px;}
header .logo img {height: 40px;}
header .logo a {display: flex; align-items: center; height: 60px; }
header .mo_category {padding-right: 5%; width: 50px;}

/* pc css */
@media (width >=1200px){
  .mobile_blind {display: block!important;}
  .pc_blind {display: none;}

  header {padding: 0 3%; height: 80px; line-height: 80px;}
  header .logo {padding-left: 0; margin-right: 5%; height: auto;}
  header .logo img {height: 50px; display: block;}
  header .category {display: flex!important; gap: 40px; width: 80%;}
  header .category li {cursor: pointer; font-size: 18px; color: #ffffff9a; transition: 0.3s;}
  header .category li:hover {color: #fff;} 
  header .header_icon {display: flex!important; gap: 30px; cursor: pointer;}
  header .header_icon img {width: 30px; height: 30px; display: block;}
}